$Font: Roboto;
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$softgrey: #F2F2F2;
$color-tertiary: #99E2D0;
$mobile-width: 425px;
$tablet-width: 768px;
$desktop-width: 1024px;

@import url(https://kit.fontawesome.com/ee046bd2cc.js);

@mixin heading-shadow{
    -webkit-box-shadow: 0px 11px 19px -13px grey;
}
@mixin mobile {
    @media (max-width: #{$mobile-width}) {
      @content;
    }
  }
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
      @content;
    }
  }
  @mixin desktop {
    @media (min-width: #{$desktop-width}) {
      @content;
    }
  }


body {
    font-family: roboto;
    @include mobile{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
 
}

a {
    text-decoration: none;
    color: black;
    :link {
        text-decoration: none;
    }
    text-decoration: none;
        :visited {
        text-decoration: none;
    }
        :hover {
            text-decoration: none;
        }
}

li {
    list-style: none;
    
}

h1 {
    color: black;
    font-weight: bolder;
}
.logo {
    height: 50px;
}
.logo-location {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.location  {
    @include mobile {
        background-color: #dfdfdf;
        color: rgb(57, 57, 57);
        padding: 12px 0 12px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-style: inset;
        
    }
}
.fa-location-dot {
    @include mobile {
        padding-right: 10px;
    }
}

.btn-container {
    @include mobile  {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        background-color: $softgrey;
        width: 100%;
        padding-bottom: 50px;

    }
}
.statement01{
    @include mobile{
        display: flex;
        text-align: center;
        padding-bottom: 10px;
    
    }
}

.btn {
    background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);
    padding: 15px;
    font-size: 15px;
    border-radius: 30px;
    border-style: none;
     @include heading-shadow;
    a {
        color: white;
    }
  
}

.opt {
    padding: 20px;
    border-radius: 20px;
    font-size: 15px;
    background-color: $softgrey;
    width: 100%;
    text-align:start;
    margin-bottom: 5px;
    font-weight: bolder;
    .fa-solid {
        color: grey;
        padding-right: 15px;
    }
    @include mobile {
        width: 90%;
        align-items: center;
    }
  
}

.information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    @include mobile {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
    ol {
        margin: 0;
        padding: 0;
    }   
}
    
}

.howItWorks .btn-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}
   

.restaurants {
    background-color: $softgrey;
    display: flex;
    @include mobile {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       width: 100%;
       height: auto;
       margin: 0;
       padding: 0;
    }
    
}

.rest-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 50%;
    height: auto;
    @include mobile {
        width: 100%;
        height: auto;
        margin:0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

     }
}

.rest-item {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 20%);
    margin-bottom: 35px;
    text-align: left;
    object-fit: cover;
    width: 70%;
    height: auto;

    img {
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0px 0px;
        display: inline-block;
    }
    h3, p {
        padding-left: 10px;
    }
    .fa-heart {
 
        font-size: xx-large;
    }
    
}


