@import url(https://kit.fontawesome.com/ee046bd2cc.js);
body {
  font-family: roboto;
}

@media (max-width: 425px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.loader {
  content: " ";
  background-color: white;
  border: 16px solid #FF79DA;
  border-radius: 50%;
  border-top: 16px solid #9356DC;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 3s ease-out forwards;
          animation: spin 3s ease-out forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 1000;
  position: fixed;
  left: 45%;
  top: 25%;
}

.loader .logo-loader {
  background-color: white;
}

@media (max-width: 425px) {
  .loader {
    top: 25%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    left: auto;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

a {
  text-decoration: none;
  color: black;
  text-decoration: none;
}

a :link {
  text-decoration: none;
}

a :visited {
  text-decoration: none;
}

a :hover {
  text-decoration: none;
}

ol {
  list-style: none;
  counter-reset: li;
}

ol li::before {
  content: counter(li);
  color: white;
  display: inline-block;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  position: relative;
  left: -35px;
  width: 12px;
  height: 12px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  ol {
    padding: 0;
  }
}

li {
  counter-increment: li;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  color: black;
  font-weight: bolder;
}

.logo {
  height: 50px;
}

.logo-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: vertical-glide 1s ease-in forwards;
          animation: vertical-glide 1s ease-in forwards;
}

@media (max-width: 425px) {
  .location {
    background-color: #dfdfdf;
    color: #393939;
    padding: 12px 0 12px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: inset 0px 7px 3px -3px rgba(170, 170, 170, 0.75);
            box-shadow: inset 0px 7px 3px -3px rgba(170, 170, 170, 0.75);
  }
}

@media (max-width: 425px) {
  .fa-location-dot {
    padding-right: 10px;
  }
}

@media (max-width: 425px) {
  .btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F2F2F2;
    padding-bottom: 50px;
    width: 100%;
  }
}

.statement01 {
  font-weight: lighter;
}

@media (max-width: 425px) {
  .statement01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding-bottom: 10px;
    margin: 20px;
    width: 70%;
  }
}

.btn {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 15px;
  font-size: 15px;
  border-radius: 30px;
  border-style: none;
  -webkit-box-shadow: 0px 11px 19px -13px grey;
  box-shadow: 0px 11px 19px -13px grey;
}

.btn a {
  color: white;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  opacity: 80%;
}

.opt {
  padding: 25px 10px 25px 20px;
  border-radius: 20px;
  font-size: 15px;
  background-color: #F2F2F2;
  width: 100%;
  text-align: start;
  margin-bottom: 18px;
  font-weight: bolder;
  margin-left: 20px;
  -webkit-box-shadow: 0px 11px 19px -13px grey;
  box-shadow: 0px 11px 19px -13px grey;
}

.opt .fa-solid {
  color: grey;
  padding-right: 15px;
  font-size: 18px;
}

.opt:hover {
  background-color: #e4d5f6;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.opt:hover .fa-solid {
  color: #9356DC;
}

@media (max-width: 425px) {
  .opt {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .opt {
    margin-left: 0;
  }
}

@media (max-width: 425px) {
  .howItWorks {
    padding: 20px 0px 50px 0px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  -webkit-animation: vertical-glide 1s ease-in forwards;
          animation: vertical-glide 1s ease-in forwards;
}

@media (max-width: 425px) {
  .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .information ol {
    margin: 0;
    padding: 0px;
  }
}

.howItWorks .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.restaurants {
  background-color: #F2F2F2;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  padding: 10px 0 10px 40px;
  -webkit-animation: vertical-glide 1s ease-in forwards;
          animation: vertical-glide 1s ease-in forwards;
}

@media (max-width: 425px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .restaurants {
    padding: 10px 0 10px 15px;
  }
}

@media (max-width: 425px) {
  .Restaurant-h {
    padding-left: 26px;
  }
}

.Rest-Grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 425px) {
  .Rest-Grp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.RT-Description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.label {
  background-color: #99E2D0;
  padding: 5px 20px;
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 16px;
}

@media (max-width: 425px) {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.Rest-List {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 425px) {
  .Rest-List {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 86%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .Rest-List {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.rest-item {
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 8px 0 #646464;
          box-shadow: 0 4px 8px 0 #646464;
  margin-bottom: 35px;
  text-align: left;
  -o-object-fit: cover;
     object-fit: cover;
  height: 260px;
  width: 100%;
  margin: 0 20px 20px 0;
  position: relative;
}

@media (max-width: 425px) {
  .rest-item {
    padding: 0;
    width: 100%;
    height: 25%;
    margin: 0 0 20px 0;
  }
}

.rest-item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0px 0px;
}

.rest-item .description-Rest {
  line-height: 5px;
}

.rest-item h3 {
  padding-left: 10px;
  font-size: 20px;
}

.rest-item p {
  padding-left: 10px;
  font-size: 20px;
  font-weight: lighter;
}

.rest-item .heart-btn {
  font-size: 25px;
  border: transparent;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rest-item .fa-regular {
  color: #4e4e4e;
  display: inline;
}

.rest-item .fa-solid {
  display: none;
}

.rest-item .heart-btn:hover .fa-regular {
  display: none;
}

.rest-item .heart-btn:hover .fa-solid {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

.rest-item:hover {
  background-color: #e4d5f6;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
}

.logo-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-nav .logo-menu {
  font-size: 20px;
  padding: 10px 70px;
}

.Rest-Img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Rest-Menu {
  background-color: #F2F2F2;
  padding: 20px;
  border-radius: 20px 20px 0 0px;
  -webkit-transition: -webkit-transform 600ms ease-in;
  transition: -webkit-transform 600ms ease-in;
  transition: transform 600ms ease-in;
  transition: transform 600ms ease-in, -webkit-transform 600ms ease-in;
}

@media (max-width: 425px) {
  .Rest-Menu {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.Rest-Elments {
  font-weight: lighter;
  border-bottom: solid #99E2D0 4px;
  padding-bottom: 8px;
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.menu-item {
  background-color: white;
  border-radius: 20px;
  margin: 25px 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(175, 175, 175, 0.2);
          box-shadow: 0 4px 8px 0 rgba(175, 175, 175, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: vertical-glide 3s ease-in-out forwards;
          animation: vertical-glide 3s ease-in-out forwards;
}

.menu-item h3, .menu-item p {
  margin: 8px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item:hover .checkmark-icon {
  width: 70px;
}

.menu-item:hover .fa-circle-check {
  display: inline;
}

.menu-item .checkmark-icon {
  color: white;
  background-color: #99E2D0;
  padding: 22px;
  font-size: 22px;
  border-radius: 0 20px 20px 0;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 22px;
  width: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.menu-item .fa-circle-check {
  -webkit-transition: 600ms;
  transition: 600ms;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  white-space: nowrap;
  display: none;
}

.menu-item .fa-circle-check:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  left: 0;
}

@media (max-width: 425px) {
  width: 95%;
}

@-webkit-keyframes vertical-glide {
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes vertical-glide {
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu-title {
  font-family: "Shrikhand", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
}

.menu-heart {
  color: #fface8;
}

.btn-menu {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 15px;
  font-size: 15px;
  border-radius: 30px;
  border-style: none;
  margin: 20px 0 50px 0;
  width: 25%;
  -webkit-box-shadow: 0px 11px 19px -13px grey;
  box-shadow: 0px 11px 19px -13px grey;
}

.btn-menu a {
  color: white;
}

@media (max-width: 425px) {
  .btn-menu {
    width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.contact {
  margin: 50px;
}

.contact .contact-form {
  font-family: Roboto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}

.contact .form-box-name {
  border-radius: 20px;
  border-color: #9356DC;
  height: 20px;
  padding: 5px;
  margin-bottom: 25px;
}

.contact .form-box {
  border-radius: 20px;
  border-color: #9356DC;
  height: 100px;
  font-family: Roboto;
  padding: 15px;
}

.contact .btn {
  width: 25%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 25px;
}

footer {
  background-color: #4e4e4e;
  color: white;
  padding: 30px;
  margin: 0;
  position: relative;
  bottom: 0;
  -webkit-animation: vertical-glide 1s ease-in forwards;
          animation: vertical-glide 1s ease-in forwards;
}

footer .logo-footer {
  height: 25px;
}

footer .fa-utensils, footer .fa-handshake-angle {
  padding-right: 10px;
}
/*# sourceMappingURL=style.css.map */